@charset "utf-8";
/* CSS Document */
*{margin:0;padding:0; line-height:100%; }
body{font-size:12px;}
a{color:#000;text-decoration:none;}
ul,ol{list-style:none;}
h1,h2,h3,h4,h5,h6{font-size:12px;font-weight:normal;}
img{border:0; display:block;}
b,strong{font-weight:normal;}
i,em{font-style:normal;}
.fl{ float:left;}
.fr{ float:right;}
.clearfix:after{clear:both;display:block;content:"";}
.clearfix{zoom:1;}


