<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <appSettings>
    <add key="ConnectString" value="server=172.18.19.140;Failover Partner=172.18.19.140;UID=fan_db_user;PWD=fan@@)!^2016;DATABASE=Fan_Shop;connect timeout=3320" />
    <add key="ConnectString_Net" value="server=172.18.19.140;Failover Partner=172.18.19.140;UID=fan_db_user;PWD=fan@@)!^2016;DATABASE=Fan_Net_CRM;connect timeout=3320"/>
    <!-- 系统分配的ApiKey -->
    <add key="JYHAPI_key" value="appfamilyhas"/>
    <!-- API密 码 -->
    <add key="JYHMD5_key" value="amiauhsnehnujiauhz"/>
    <!-- Api请求地址-->
    <add key="JYHAPI_url" value="http://api.test-dlq.ycp8.cn/cdlq/jsonapi/"/>
    <!-- Api请求地址(特价使用)-->
    <add key="JYHAPI_url_TJ" value="http://api.dlq.event.ycp8.cn/cevent/jsonapi/"/>
    <add key="JYHAPI_key_TJ" value="betafamilyhas"/>
    <!-- Api请求地址(埋点使用)-->
    <add key="JYHAPI_url_gas" value="http://qhbeta-cgroup.qhw.srnpr.com/cgroup/jsonapi/"/>
    <!-- Api请求地址_账号相关-->
    <add key="JYHAPI_url_account" value="http://api.test-dlq.ycp8.cn/cdlq/jsonapi/"/>
    <!--账户中心用户注册、登录、检验和重置密码接口请求地址-->
    <!--<add key="JYHAPI_url_account" value="http://fan.api.lacues.cn/API/APIHandler.ashx"/>-->

    <add key="JYHAPI_key_gas" value="betafamilyhas"/>
    <!-- Api登录请求-->
    <add key="JYHAPI_getat" value="com_cmall_membercenter_oauth_api_CheckUserInfo"/>
    <!-- 用户登录请求-->
    <add key="JYHAPI_login" value="com_cmall_membercenter_api_UserLogin"/>
    <!-- 新增收货地址-->
    <add key="JYHAPI_addaddress" value="com_cmall_newscenter_beauty_api_AddAddress"/>
    <!-- 新增收货地址-->
    <add key="JYHAPI_editaddress" value="com_cmall_newscenter_beauty_api_AddressUpdateApi"/>
    <!-- 获取收货地址-->
    <add key="JYHAPI_getaddress" value="com_cmall_newscenter_beauty_api_GetAddress"/>
    <!-- 来自微信商城修改密码-->
    <add key="jyhapi_changepassword" value="com_cmall_familyhas_api_ApiChangePasswordForWx"/>
    <!-- 设定上级手机号-->
    <add key="jyhapi_setrecommend" value="com_cmall_groupcenter_oauth_api_SetParentMember"/>
    <!-- 微公社注册验证手机号是否存在-->
    <add key="jyhapi_checkloginname" value="com_cmall_groupcenter_userinfo_api_CheckLoginNameForGroupApi"/>
    <!-- 微公社用户注销-->
    <add key="jyhapi_userlogout" value="com_cmall_membercenter_api_UserLogout"/>
    <!-- 大陆桥渠道最新期-->
    <add key="jyhapi_dlq" value="com_cmall_familyhas_api_ApiGetNewDlqByTv"/>

    <!-- 支付宝地址-->
    <add key="JYHAPI_alipay" value="http://qhbeta-cfamily.qhw.yshqi.com/cfamily/payOrder/{0}/4497153900010001"/>
    <!-- 网站域名-->
    <add key="WebHost" value="http://fan.test.lacues.cn"/>
    <!-- INI文件-->
    <add key="INIFileName" value="FanTouch.ini"/>
    <!-- 支付宝账号-->
    <add key="AlipayPartnerID" value="2088911718925902"/>
    <!-- 支付宝账号私钥-->
    <add key="AlipayPartnerKey" value="x90awn8oi6g3jnj4s972p8s4b8lf72z2"/>
    <!-- 校验身份证信息是否通关成功-->
    <add key="JYHAPI_identityinfo" value="com_cmall_familyhas_api_ApiUserIdentityInfo"/>
    <!--日志-->
    <add key="logfile" value="D:\Webs\fan_shop"/>
    <!-- 引导图文信息接口地址-->
    <add key="Guide_url" value="http://fan.test.lacues.cn/admin/ajax/api.aspx"/>
    <add key="Award_host" value="fan.test.lacues.cn/admin"/>
    <!--接收推广通知参数-->
    <add key="merchant_api" value="http://fan.admin.lacues.cn/AjaxHandler/MerchantHandler.ashx"/>
    <add key="merchant_act_api" value="http://fan.admin.lacues.cn/AjaxHandler/AdminHandler.ashx"/>
    <add key="merchant_md5key" value="123456"/>
    <add key="merchant_projectcode" value="fan_shop"/>
    <add key="merchant_innerhost" value="localhost:63456,localhost:53620,localhost:63586"/>
    
    <add key="merchant_wy" value="jygw"/>
    <add key="merchant_wxwy" value="wy"/>
    <!--领克特家有汇参数-->
    <add key="linktec_id" value="linktech"/>
    <add key="linktec_a_id" value="A100190614"/>
    <add key="linktec_m_id" value="jiayouwap"/>
    <!--领克特家有汇参数-->
    <add key="mt_id" value="mt"/>
    <!--身份证数据密钥-->
    <add key="IDCard_AESKey" value="mgepqfjdrkzdzxwp"/>
    <add key="UDPServerIP" value="172.18.19.166" />
    <add key="UDPServerPort" value="30010" />
    <add key="UDPSecretKey" value="ffffff" />
  
    <!--多麦订单推送url-->
    <add key="duomai_sendurl" value="http://www.duomai.com/api/order.php"/>
    <!--商家推送订单的hash值-->
    <add key="duomai_hash" value="fea852d1f07940fdc4fb3f4c8143cd03"/>
    <!--当传递test=1时，请求后会反馈详细的推送报告，并将数据发送到多麦cps联盟的测试订单库，但是数据不会返回到正式订单库,此设定已失效，传1则多卖方收不到，需要传0-->
    <add key="istest" value="0"/>
    <!--是否记录多麦订单推送接口返回的log，1：记录，0：不记录-->
    <add key="saveGetPagelog" value="1"/>

    <!--上传图片临时路径[z:是共享的文件服务器盘符]-->
    <add key="UploadIMG" value="/upload/img"/>
    <!--上传图片临时路径盘符[z:是共享的文件服务器盘符]-->
    <add key="UploadIMG_PF" value="z:"/>
    <!--上传图片访问域名-->
    <add key="UploadIMG_YM" value="http://abs.cn"/>
    <!--上传图片访问路径-->
    <add key="UploadIMG_Path" value="/upload/img/"/>
    <add key="jyhapi_dlqlist" value="com_cmall_familyhas_api_ApiGetDLQInfo"/>
    <!-- 大陆桥Api请求地址-->
    <add key="JYHAPI_url_dlq" value="http://server-family.symanage.ichsy.com/cfamily/jsonapi/"/>
    <add key="ClientAreaList" value="北京市"/>
    <add key="ClientAreaKey" value="4"/>
    <add key="YYG_MD5Key" value="hjyyygsynckey"/>
    <add key="YYG_From" value="yyg"/>
    <add key="YYG_OrderSource" value="449715190002,449715190003,449715190006"/>
    <!-- 订单接口-->
    <add key="jyhapi_order" value="com_cmall_familyhas_api_APiCreateOrder"/>
  </appSettings>
    <system.web>
      <!--<identity impersonate="true" userName="administrator" password="LRxxUoZ0-B8_ykLbpT_C"/>-->
      <compilation targetFramework="4.0" />
      <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" validateRequest="false"/>
      <httpRuntime requestValidationMode="2.0"/>
      
      <customErrors mode="Off"></customErrors>
    </system.web>

</configuration>
